In [8]:
import pandas as pd

In [9]:
# Read the csv file
df=pd.read_csv("netflix_titles.csv")

In [10]:
# Load the data to sql server
import sqlalchemy as sal
engine = sal.create_engine('mssql://DESKTOP-M2TTHOB\SQLEXPRESS/PortfolioProject?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()

In [ ]:
#load the data into sql server using replace option
df.to_sql('netflix_raw', con=conn , index=False, if_exists = 'append')
conn.close()

In [5]:
df[df.show_id=='s6']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...

In [38]:
max(df.description.str.len())

248

In [7]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64